<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Autotests">
    <test name="Login test">
<!--        <classes>-->
<!--            <class name="autotests.login.LoginTest"/>-->
<!--        </classes>-->
        <parameter name="browser" value="EDGE"></parameter>
        <packages>
            <package name="autotests.login"></package>
        </packages>
    </test>
</suite>